<link rel="stylesheet" type="text/css" href="js/rs-plugin/css/settings.css" media="screen">
<link rel="stylesheet" type="text/css" href="/Plantilla/css/isotope.css" media="screen">
<link rel="stylesheet" href="/Plantilla/css/flexslider.css" type="text/css">
<link rel="stylesheet" href="/Plantilla/js/fancybox/jquery.fancybox.css" type="text/css" media="screen">
<link rel="stylesheet" href="/Plantilla/css/bootstrap.css">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700">

<link rel="stylesheet" href="/Plantilla/css/style.css">
<!-- skin -->
<link rel="stylesheet" href="/Plantilla/skin/default.css">

</head>
{{>navigation_dos}}
<main>

  <!-- section works -->
  <br>
  <br>
  <br>
  <section id="section-works" class="section appear clearfix">
    <div class="container-fluid">
      <div class="row">
        <script data-ad-client="ca-pub-9549469569955328" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      </div>
      <div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
              <h2>Disfruta de nuestros mejores exitos </h2>
            <div class="container-fluid p-4" id="videos">  
                 <div class="row">
                  {{#each album}}
                    <div class="col-md-5 ">
                      <div class="card-header">
                        <h2>{{nombre}}</p>
                        <samp>{{description}}</samp>
                      </div>
                      <div class="card-body">
                        <iframe src="{{url}}" frameborder="0" allow="accelerometer;
                             autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <br>      
                      </div>
                    </div>
                  {{else}}
                   <div class="col-md-12 mx-auto">
                  <div class="card text-center">
                      <div class="card-body">
                          <br>
                          <br>
                          <hr>
                          <h3 class="card-title text-uppercase">
                            Aun no se tiene contenido publicado por el momento
                          </h3>
                          <br>
                          <hr>
                          <h2> NOS ENCONTRAMOS EN MANTENIMIENTO</h2>
                          <hr>
                          <a href="/contactos">
                          <img src="/img/logo-kaliente.png" alt="">
                        </a>
                        
                       </div>
                    </div>
                    </div>
                  {{/each}}
                  </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</main>
{{>footer}}