  <link rel="stylesheet" type="text/css" href="js/rs-plugin/css/settings.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/Plantilla/css/isotope.css" media="screen">
  <link rel="stylesheet" href="/Plantilla/css/flexslider.css" type="text/css">
  <link rel="stylesheet" href="/Plantilla/js/fancybox/jquery.fancybox.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/Plantilla/css/bootstrap.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700">

  <link rel="stylesheet" href="/Plantilla/css/style.css">
  <!-- skin -->
  <link rel="stylesheet" href="/Plantilla/skin/default.css">

</head>

 {{> navigation}}

  <main>
    <!-- services -->
  <section id="section-services" class="section pad-bot30 bg-white">
    <div class="container">
      <div class="row">
        <script data-ad-client="ca-pub-9549469569955328" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      </div>
      <div class="row mar-bot40">
        <div class="col-lg-4" id="text-ex">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon hi-icon-screen">screen</a>
            </div>
          </div>
          <h3 class="text-bold">EVENTOS</h3>
          <p>Conoce nuestros proximos eventos.</p>

          <div class="clear"></div>
        </div>

        <div class="col-lg-4" id="text-ex">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="/contactos" class="hi-icon hi-icon-location">location</a>
            </div>
          </div>
          <h3 class="text-bold">CONTACTOS</h3>
          <p>contactanos facilmente</p>

          <div class="clear"></div>
        </div>

        <div class="col-lg-4" id="text-ex">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="/galeria" class="hi-icon hi-icon-images">images</a>
            </div>
          </div>
          <h3 class="text-bold">GALERIA</h3>
          <p>Conoce un poco de nuestro recorrido musical </p>

          <div class="clear"></div>
        </div>

      </div>

    </div>
  </section>

 

    <!-- about -->
  <section id="section-about" class="section appear clearfix">
    <div class="container">

      <div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
            <h2 class="section-heading animated" data-animation="bounceInUp">ARTISTAS MUSICALES</h2>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
          </div>
        </div>
      </div>

      <div class="row align-center mar-bot40">
        {{#each artistas}}
        <div class="col-md-3">
          <div class="team-member">
            <figure class="member-photo"><img src="{{url}}" alt="{{nombre}}" width="130px" height="130px"></figure>
            <div class="team-detail">
              <h4>{{nombre}}</h4>
              <span>{{descripcion}}</span>
            </div>
          </div>
        </div>
        {{/each}}
        
      </div>

    </div>
  </section>
  <!-- /about -->
  </main>

  <!-- FOOTER-->
  {{>footer}}