<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kaliente</title>
    <link rel="icon" href="/img/logoPW.png">
    <link rel="stylesheet" href="/css/styles.css">    <!--I-->
     <!--I-->


  

<body>

    {{> message}}
    {{{body}}}



   
    
    <!-- inicio  administrador-->
    <!--====== Scripts -->
	<script src="/admin/js/jquery-3.1.1.min.js"></script>
	<script src="/admin/js/sweetalert2.min.js"></script>
	<script src="/admin/js/bootstrap.min.js"></script>
	<script src="/admin/js/material.min.js"></script>
	<script src="/admin/js/ripples.min.js"></script>
	<script src="/admin/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/admin/js/main.js"></script>

<!-- fin  administrador-->

<!-- inicio  plantilla-->
  <!-- Javascript Library Files -->
  <script src="/Plantilla/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  <script src="/Plantilla/js/jquery.js"></script>
  <script src="/Plantilla/js/jquery.easing.1.3.js"></script>
  <script src="/Plantilla/js/bootstrap.min.js"></script>
  <script src="/Plantilla/js/jquery.isotope.min.js"></script>
  <script src="/Plantilla/js/jquery.nicescroll.min.js"></script>
  <script src="/Plantilla/js/fancybox/jquery.fancybox.pack.js"></script>
  <script src="/Plantilla/js/skrollr.min.js"></script>
  <script src="/Plantilla/js/jquery.scrollTo.min.js"></script>
  <script src="/Plantilla/js/jquery.localScroll.min.js"></script>
  <script src="/Plantilla/js/stellar.js"></script>
  <script src="/Plantilla/js/jquery.appear.js"></script>
  <script src="/Plantilla/js/jquery.flexslider-min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

<!-- fin  plantilla-->
</body>

</html>